:root {
    --nav-bg-color: #f7f5f0;
    --cart-number-bg-color: #fed34a;
    --nav-gey-color: #868378;
    --green-dark-color: #25634D;
    --green-light-color: #47A15D;
    --green-yellow-color: #B8D94F;
}

.navbar {
    background-color: var(--nav-bg-color);
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .navbar-brand,
.navbar a {
    color: var(--nav-gey-color);
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;

}

.navbar .badge {
    background-color: var(--cart-number-bg-color);
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 10px 6px 10px;

}

.navbar .btn-delivery {
    background-color: var(--cart-number-bg-color);
    font-family: "Oswald", sans-serif;
    color: #ffff;
    font-size: 16px;
    padding: 10px 22px;
    letter-spacing: 1px;
    font-weight: 500;

}

.navbar .search-btn {
    font-size: 18px;
    color: var(--nav-gey-color);

}

.navbar-2 {
    padding-top: 31px;
}

.navbar {
    padding-left: 180px;
    padding-right: 180px;
}

/* end of navbar */
/* carousel */


.carousel-indicators {
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    gap: 16px;

}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s ease;
    border: none;
    opacity: 0.9;
}

.carousel-indicators .active {
    background-color: var(--cart-number-bg-color);
    opacity: 1;
}

.carousel-frame-wrapper {
    position: relative;
    overflow: visible;
    /* للسماح بخروج الإطار */
}

.carousel-frame-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.frame {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background: url("./assets/img/carousel/carousel-border.webp") no-repeat center/cover;

    z-index: 2;
}


.frame.top {
    top: -0.65%;
    transform: translateY(-50%) rotate(180deg);
}

.frame.bottom {
    bottom: -0.65%;
    transform: translateY(50%);
}


.carousel-caption {
    z-index: 3;
    position: absolute;
    top: 45%;
    left: 13%;
    transform: translateY(-50%);

}




.carousel-caption .carousel-text {
    font-family: "Shadows Into Light", cursive;
    font-size: 100px;
    max-width: 200px;
    letter-spacing: 3px;


    opacity: 0;
    animation: fadeInText 4s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }


    80% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}

.carousel-caption .btn {
    width: 146px;
    padding: 12px 35px;
    background-color: var(--green-light-color);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 50px;


    opacity: 0;
    animation: fadeInbtn 4s ease forwards;
    animation-delay: 1.5s;
}

@keyframes fadeInbtn {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }




    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.carousel-caption .btn:hover {
background-color: var(--cart-number-bg-color);
}

@media screen and (max-width: 1350px) {
    .frame.top {
        top: -2%;

    }

    .frame.bottom {
        bottom: -2%;

    }
}

@media screen and (max-width: 1200px) {

    .frame {
        display: none;
    }

    .carousel-caption {
        top: 35%;
    }


    .carousel-caption .carousel-text {
        font-size: 60px;
        max-width: 100px;
    }

    .carousel-caption .btn {
        font-size: 10px;
        width: 100px;
        padding: 6px 20px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 700px) {
    .frame.top {
        top: -2%;

    }

    .frame.bottom {
        bottom: -2%;

    }

    .carousel-caption .carousel-text {
        font-size: 40px;
        max-width: 80px;
    }

    .carousel-caption .btn {
        font-size: 8px;
        width: 80px;
        padding: 4px 15px;
        margin-left: 25px;
    }
}



@media screen and (max-width: 550px) {

    .carousel-caption .carousel-text {
        font-size: 30px;
        max-width: 50px;
    }

    .carousel-caption .btn {
        font-size: 7px;
        width: 60px;
        padding: 2px 6px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 450px) {

    .carousel-caption {
        top: 30%
    }

    .carousel-caption .carousel-text {
        font-size: 20px;
        max-width: 40px;
    }

    .carousel-caption .btn {
        font-size: 7px;
        width: 50px;
        padding: 0px;
        margin-left: 10px;
    }
}

/* end of carousel */
/* cards */
.card {
    width: 370px;
    height: 515px;
}

.card1 {
    padding-top: 50px;
    background-color: var(--green-light-color);
}

.card .card1-info {
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    padding: 30px 77px;

}



.card .card3-info {
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    padding: 30px 60px;

}

.card1 .btn {
    width: 146px;
    padding: 12px 35px;
    background-color: var(--green-dark-color);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 112px;
}

.card3 .btn {
    width: 163px;
    padding: 12px 35px;
    background-color: var(--green-dark-color);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 112px;
}

.card2 {
    background-color: var(--cart-number-bg-color);
}

.card .card2-info {
    color: var(--green-light-color);
    /* font-size: 25px; */
    font-family: "Shadows Into Light", cursive;
    padding: 43px 95px 0px 95px;

    line-height: 45px;
}

.card3 {
    padding-top: 47px;
    background-color: var(--green-yellow-color);

}

.card .card-img {
    width: 230px;
    height: 230px;
    border-radius: 50%;

}
 
/* end of cards */

